<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UniversitariaMovil.Persistencia1.Properties.Settings.DBUDCConnectionString"
            connectionString="Data Source=DESKTOP-SBIUVOP\SQLEXPRESS01;Initial Catalog=DBUDC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>